* {
    box-sizing: border-box;
  }
body{
    background-color: #F9F8F8;
    margin: 0;
}

/* header styles */
.nav{
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    font-size: 20px;
    
}
.logo{
    vertical-align: middle;
    margin-right: 150px;
}
.nav-box{
    margin: 0 0px 69px 162px
}
.color{
    height: 192px;
    background-color: white;
    padding-top: 69px;
}
.main-box{
    width: 1400px;
    height: 1050px;
    margin: 50px auto 0 auto;
}
.text-1{
    width: 260px;
    height: 49px;

    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;
    color: #7EB693;
}
.text-2{
    width: 524px;
    font-size: 50px;
    color: #274C5B;
}
.text-3{
    font-size: 18px;
    width: 671px;
}
.mini-box-1{
    width: 339px;
    height: 81px;
    background-color: #ECECEC;
}
.text-1-1{
    display: inline-block;
    vertical-align: middle;
    margin-top: 31px;
    
}
.icon{
    vertical-align: middle;
    margin-left: 27px;
    margin-top: 31px;
}